In [1]:
import pandas as pd
import json
import os
from collections import defaultdict

In [2]:
metrics = ["ndcg@3", "ndcg@5", "mrr@3", "mrr@5", "map@3", "map@5"]
model_names = ["base", "cohere", "flashrank"]
paths_seed_1 = [
    "Data/json/seed_1/base_basic/q_all_report_base_basic.json",
    "Data/json/seed_1/base_by_title/q_all_report_base_by_title.json",
    "Data/json/seed_1/multiquery_basic/q_all_report_multiquery_basic.json",
    "Data/json/seed_1/multiquery_by_title/q_all_report_multiquery_by_title.json",
]
paths_seed_2 = [
    "Data/json/seed_2/base_basic/q_all_report_base_basic.json",
    "Data/json/seed_2/base_by_title/q_all_report_base_by_title.json",
    "Data/json/seed_2/multiquery_basic/q_all_report_multiquery_basic.json",
    "Data/json/seed_2/multiquery_by_title/q_all_report_multiquery_by_title.json",
]

n = 40
seed_1_len, seed_2_len = 5, 25


def calculate_weighted_average(avg_1: float | int, avg_2: float | int, n_1: int=seed_1_len, n_2: int=seed_2_len, round_to: int=None):
    if not round_to:
        return ((avg_1*n_1)+(avg_2*n_2))/(n_1+n_2)
    return round(((avg_1*n_1)+(avg_2*n_2))/(n_1+n_2), round_to)

In [3]:
dict_seed_1 = []
dfs_seed1 = []
for path in paths_seed_1:
    with open(path, "r") as f:
        data = json.load(f)
    dic = {k: [[s for _, s in score.items()] for _, score in v.items()][0] for k, v in data.items() if k in model_names}
    dict_seed_1.append(dic)
    df = pd.DataFrame(dic, index=metrics).T
    df = df.style.highlight_max(color="darkgreen", axis=0).highlight_min(color="darkred", axis=0)
    df = df.set_caption(os.path.basename(path))
    df = df.format("{:.3f}")
    dfs_seed1.append(df)


dict_seed_2 = []
dfs_seed2 = []
for path in paths_seed_2:
    with open(path, "r") as f:
        data = json.load(f)
    dic = {k: [[s for _, s in score.items()] for _, score in v.items()][0] for k, v in data.items() if k in model_names}
    dict_seed_2.append(dic)
    df = pd.DataFrame(dic, index=metrics).T
    df = df.style.highlight_max(color="darkgreen", axis=0).highlight_min(color="darkred", axis=0)
    df = df.set_caption(os.path.basename(path))
    df = df.format("{:.3f}")
    dfs_seed2.append(df)

In [4]:
dfs_seed1[1]

In [5]:
dfs_seed2[1]

In [103]:
calculate_weighted_average(0.467, 0.517, round_to=3)

0.509

In [7]:
dict_all = []
for dic_seed_1, dic_seed_2 in zip(dict_seed_1, dict_seed_2):
    dic_reranker = {}
    for k_1, k_2, v_1, v_2 in zip(dic_seed_1.keys(), dic_seed_2.keys(), dic_seed_1.values(), dic_seed_2.values()):
        assert k_1 == k_2
        dic_model_name = {}
        dic_model_name[k_1] = [calculate_weighted_average(n_1, n_2) for n_1, n_2 in zip(v_1, v_2)]
        dic_reranker.update(dic_model_name)
    dict_all.append(dic_reranker)

In [8]:
dfs_all = []
for path, dic in zip(paths_seed_1, dict_all):
    df = pd.DataFrame(dic, index=metrics).T
    df = df.style.highlight_max(color="darkgreen", axis=0).highlight_min(color="darkred", axis=0)
    df = df.set_caption(os.path.basename(path))
    df = df.format("{:.3f}")
    dfs_all.append(df)

In [10]:
dfs_all[0]

In [11]:
dfs_all[1]

In [12]:
dfs_all[2]

In [13]:
dfs_all[3]